html,
body {
    /* Dynamically resize for large screens */
    font-size: calc(12px + .25vw);
    /* Scale background to fit the screen */
    min-height: 100%;
    min-width: 100%;
}

/* ---- UTILITY ---- */
tspan{
    pointer-events: none;
}

.reveal.smaller {
    width: 40%;
    max-width: 62.5rem;
}

.reveal {
    overflow-y: visible;
}

.sticky {
    z-index: 500;
}

.ui-autocomplete {
    z-index: 600;
}

ul.no-bullets {
    margin-left: 0;
}

ul.no-bullets li {
    list-style: none;
}

input:checked~.switch-paddle {
    background: #333;
}

.boldText {
    font-weight: bold;
}

.leftOffset25 {
    margin-left: 25px !important;
}

.topOffset2Rem {
    margin-top: 2rem;
}

#cassUiMainBusyContainer,
#cassUiMainErrorContainer {
    margin-top:5rem;
}

.cassUiError {
    font-size: 3rem;
    color: #F78D05;
}

.cassUiBusyImg {
    height: 4rem;
    width: auto;
}

#cassUiMainBusyText {
    font-size: 2rem;
    color: #137499;
}

.cassUiError {
    font-size: 3rem;
    color: #F78D05;
}

.cassUiModalErrorText,
.cassUiModalBusyText {
    font-size: .9rem;
}

.cassUiModalErrorText ul {
    margin:0;
}

.cassUiCallout {
    margin-top: 3rem;
}

.cassUiModalInput {
    width: 37rem;
    margin-left: 1.5rem;
}

.cassUiModalTextArea {
    height: 8rem;
    resize: none;
}

.cassUiModalInput.invalid {
    background-color: #F3CB7A;
    border-color: #EA6E07;
}

/* ---- MENUS ---- */

#section-sub-menu {
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

#page-tools {
    float: right;
}


/* ---- CIRCLE GRAPH SCREEN ---- */

#gap-circle-graph-wrapper {
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 100%;
    max-height: 300px;
}

#gap-circle-graph-wrapper svg {
    position: absolute;
    width: 95%;
    height: 90%;
}

#gap-circle-graph-wrapper .node.node--root {
    fill: transparent !important;
}

#gapCirclePack {
    fill: transparent !important;
    background: white;
}

.gapCircleGraph .node.invalid{
    stroke:#FFFFFF;
    stroke-width:2;
    stroke-dasharray: 4;
}

.gapCircleGraph .node {
    cursor: pointer;
    filter:url(#drop-shadow);
}

.gapCircleGraph .node:hover {
    filter: none;
}

#drop-shadow:hover {
    opacity:1 !important;
}

.gapCircleGraph .node--leaf {
}

.gapCircleGraph .label {
    fill: #fff;
    font-size: 13px;
    font-weight: 600;
    text-anchor: middle;
    paint-order: stroke;
    stroke: rgb(0, 0, 0);
    stroke-linecap: butt;
    stroke-linejoin: round;
}

.gapCircleGraph .label-background {
    fill: #fff;
    font-size: .6rem;
    text-anchor: middle;
    paint-order: stroke;
    stroke: rgb(19, 116, 153);
    stroke-width: 1px;
    stroke-linecap: butt;
    stroke-linejoin: round;
}

.gapCircleGraph .label,
.gapCircleGraph .node--root,
.gapCircleGraph .node--leaf {
    pointer-events: all;
}

.gapCircleGraph circle {
    pointer-events: all;
}

.gapCircleGraph .gapped {
}



.gapCircleGraph .fwkCircle {
    fill:#999 !important;
}

/* ---- MISC ---- */

#circleFocusSummaryHeader {
    cursor: pointer;
}

.modal-large-multi-select {
    min-height: 15rem;
}

#gapHeader {
    color: #137499;
}

#gapWelcomeContainer {
    margin-top: 5%;
}

.gapSummaryCompCov {
    font-size:.85rem;
}

.circleFocusOverviewGroup {
    /*font-weight: bold;*/
}

.groupMemberIndToggle {
    font-size: .6rem !important;
    padding: 2px 3px;
    background-color: #999 !important;
    color: #ffffff !important;
    margin-bottom: .4rem;
}

.gapSummaryCompCov,
.circleFocusOverviewField,
#circleFocusSummarySelProfList li {
    color: #818181;
}

.circleFocusDetailAssertion {
    font-size:.85rem;
    color: #818181;
}

.circleFocusSummarySubSection {
    margin-left:1rem;
}

#circleFocusDetailsSingleDesc {
    font-size: .95rem;
}

.circleFocusSummarySection h5 {
    margin-bottom: 0;
}

.circleFocusSummarySection {
    margin-top: .5rem;
}

#circleFocusDetailsSidebar,
#circleFocusSummarySidebar {
    margin-top: 1rem;
}

#circleFocusSummarySidebar {
    padding-left: 1.5rem;
}

#circleFocusCompDetailsLink i {
    margin-top: .8rem;
}

#circleFocusDetailsProfListContainer ul {
    list-style: none;
    margin-bottom: 0;
}

#circleFocusSummaryDesc {
    margin-bottom: .5rem;
}

#circleFocusCompTools {
    font-size: 1.2rem;
    text-align: right;
}

.gpsiRootComp {
    font-size: 1.05rem;
}

.gpsiNonRootComp {}

.gpsiChild {
    margin-left: 1.2rem;
    font-size: 1rem;
}

.psiItem.active {
    font-weight: bold;
    text-decoration: underline;
}